# 연습: DataFrame 1

In [1]:
#판다스를 가져오기

### 예제 1 
1. Nan이 아닌 부분을 출력하시오.
2. NaN의 값을 0으로 바꾼후 출력하시오.

In [ ]:
sdata = {'Ohio': 35000,
         'Texas': 71000,
         'Oregon': 16000,
         'Utah': 5000}

states = ['California', 'Ohio', 'Oregon', 'Texas'] #california is not in sdata
obj4 = Series(sdata, index=states)
obj4

In [ ]:
# 예제 1.1

In [ ]:
# 예제 1.2

### 예제 2

index가 'four'인 행의 값을 [1999, 'Ohio', 3.2, 0]으로 변경하시오.

`columns=['year', 'state', 'pop', 'debt']`

In [ ]:
frame = DataFrame(data, columns=['year', 'state', 'pop', 'debt'], #debt는 없으므로 NaN으로 채움
                   index=['one', 'two', 'three', 'four', 'five']) #index를 지정해줌

frame

In [ ]:
# 예제 2

### 예제 3
위 frame에서 index가 two, column이 state 인 값을 'Nevada'로 변경하시오.

In [ ]:
# 예제 3

### 예제 4 
위 frame에 year=2002이고 state='Ohio' 일때 True를 갖는 etc 컬럼을 생성하시오.

### 예제 5 
1. 위 frame에서 one, three, four 행에서 year, state, etc 열만 가져와 frame2에 저장하시오.
2. 수정된 frame2에서 year > 2000, state == Ohio 인 행을 출력 하시오.

In [ ]:
# 예제 5.1

In [ ]:
# 예제 5.2

### 예제 6 
데이터 프레임의 각 행과 열의 합을 각각 계산하여 출력하시오.

In [ ]:
frame = DataFrame(np.random.randn(4, 3), columns=list('bde'), #bde 열을 생성
                  index=['Utah', 'Ohio', 'Texas', 'Oregon']) #Utah, Ohio, Texas, Oregon 행을 생성
frame

In [ ]:
# 예제 6:열의 합

In [ ]:
# 예제 6: 행의 합

### 예제 7
아래 int_frame을 index, column기준으로 정렬하시오. (단, index, column 모두 정렬되어야 함)<br>

In [ ]:
int_frame = DataFrame(np.arange(8).reshape((2, 4)), index=['three', 'one'],
                  columns=['d', 'b', 'c', 'a']) #column 기준 정렬

In [ ]:
# 예제 7

### 예제 8
코스피와 IBM 가격정보를 불러와 상관관계를 파악하시오.
- 코스피 = '^KS11'
- IBM = 'IBM'
- 애플 = 'APLE'

# 주가 데이터를 불러올 티커 목록
tickers = ['^KS11', 'IBM', 'AAPL', 'GOOGL', 'MSFT', 'TSLA']  # AAPL: 애플, GOOGL: 구글, MSFT: 마이크로소프트, TSLA: 테슬라

In [ ]:
#!pip install pandas_datareader
!pip install yfinance

In [ ]:
# 예제 8
# from pandas_datareader import data as web
# all_data = {}
# for ticker in ['^KS11', 'IBM']:
#     all_data[ticker] = web.get_data_yahoo(ticker)

# price = DataFrame({tic: data['Adj Close']
#                    for tic, data in all_data.items()})

import yfinance as yf
import pandas as pd

tickers = ['^KS11', 'IBM', 'AAPL', 'GOOGL', 'MSFT', 'TSLA']
all_data = {}

# Yahoo Finance 데이터를 가져옴
for ticker in tickers:
    all_data[ticker] = yf.download(ticker)

# 종가 데이터를 추출하여 DataFrame 생성
price = pd.DataFrame({tic: data['Adj Close'] for tic, data in all_data.items()})

# 상관계수 계산
print(price.corr())

price.corr()

### 예제 9
1. 2~3행에서 '0'컬럼을 None으로 변경 하시오.
2. 0~2행에서 '2'컬럼을 None으로 변경하시오.
3. 각 컬럼의 None값들을 각 컬럼의 평균값으로 채우시오.

In [ ]:
# 예제 9.1 2~3행에서 '0'컬럼을 None으로 변경 하시오.

In [ ]:
# 예제 9.2 0~2행에서 '2'컬럼을 None으로 변경하시오.

In [ ]:
# 예제 9.3 각 컬럼의 None값들을 각 컬럼의 평균값으로 채우시오.

### 예제 10
1. multi_idx 이름으로 0 ~ 20의 값을 갖는 (5,4) 데이터 프레임을 생성하시오.
  - index 상위 색인: a, a, b, b, c
  - index 하위 색인: 1,2, 1, 2, 1
  - columns 상위 색인: 'KOR', 'KOR', 'USA', 'USA'
  - columns 하위 색인: 'Seoul', 'Busan', 'LA', 'NewYork'
2. index=b, column= KOR의 Seoul에 해당하는 값을 출력하시오.

In [ ]:
# 예제 10.1

In [ ]:
# 예제 10.2

### 예제 11
1. 위 데이터프레임에 index(key1, key2), column(Country, Region)의 이름을 설정하시오.
2. 2번째 index로 데이터 프레임을 정렬 하시오.
3. column의 레벨을 바꾸시오.

In [ ]:
# 예제 11.1

In [ ]:
# 예제 11.2

In [ ]:
# 예제 11.3

---

In [ ]:
# end of file